*.retry
/hosts
/consul
/*-keyfile.json
/*_keyfile.json
/group_vars/*
!group_vars/all
!group_vars/staging
!group_vars/prod
/inventories/*
!/inventories/hosts.example
!/inventories/staging
!/inventories/prod
/test.ym*l
old
/oauth2_*.secret
/client_secret_*.json
